/*reset*/
*{
    padding: 0;
    margin: 0;
}

.clearfix {
    clear: both;
    float: none;
}

.wrap {
    width: 1250px;
    margin: 0 auto;
}

body {
    background-color: #171f33;
}


/*css header*/
#header {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}

#header h3 {
    font-family: sans-serif;
    font-size: 30px;
    display: block;
    text-align: center;
    line-height: 90px;
    transition: all 300ms;
    cursor: pointer;
}

#header h3:hover {
    color: #92b1c5 ;
}

/*css tabla*/

#tabla {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.36);
    border-collapse: collapse;
    cursor: pointer;
    font-family: sans-serif;
}

#tabla th {
    font-weight: bold;
    padding: 15px;
    background-color: #212639;
    color: #92b1c5;
    transition: all 300ms;
}

#tabla th:hover {
    color: white;
}

#tabla tr:nth-child(odd){
    background-color: #353c4e;
}

#tabla tr:nth-child(even){
    background-color: #2d3446;
}

#tabla td:first-child{
    color: #a85d6f;
}

#tabla td {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    color: #85899b;
}

/*responsive*/

@media only screen 
and (max-width: 600px), (max-device-width: 768px) 
and (max-device-width: 1024px){

    #header{
        width: 100%;
        display: block;
    }

    .wrap {
        width: 100%;
        height: auto;
    }

    #tabla {
        display: block;
        overflow-x: auto;
        width: 100%;
        margin-top: 0;
        top: 0px;
    }

    #tabla td {
        font-size: 10px;
        padding: 21px;
    }

    #tabla th {  
        font-size: 10px;
        padding: 0;
        height: 46px;
    }

    #header h3 {
        font-size: 12px;
    }
}
/* 
@media only screen 
and (max-width: 600px), (min-device-width: 768px) 
and (max-device-width: 1024px){ */

  

  